*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{ 
    text-align: center;
    font-size: 69px;
    font-family: 'Rubik Bubbles', cursive;
}

h2{ 
    font-family: 'Amatic SC', cursive;
    font-size: 49px;
}